.btn {
  background-color: inherit;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.dot {
  height: 10px;
  width: 2%;
  border-radius: 50%;
  display: inline-block;
}

.avaiable {
  background-color: green;
}

.reserved {
  background-color: gold;
}

.rows {
  font-size: small;
}

.sold {
  background-color: darkgrey;
}

.places {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.col-sm {
  padding-right: 1vh;
  padding-left: 1vh;
}
