<!--<table class="customTable">-->
<!--    <tr *ngFor="let x of rowArr">-->
<!--        <td *ngFor="let y of seatArr">-->
<!--            <span class="dot"></span>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<div class="container">
    <div class="row">
    </div>
    <div class="row" *ngFor="let x of rowArr; let a = index">
<!--        <p class="rows">{{rows - a}}</p>-->
        <span class="dot places"  [style.backgroundColor]="getColor(getState(a,b))" *ngFor="let y of seatArr; let b = index" (click)="dotClick(a,b)"></span>
    </div>

</div>
