.dot {
  border-radius: 50%;
  display: inline-block;
}

.fontStyle {
  font-size: 10%;
}

.center {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}

.verticalCenter {
  margin-top: 30%;
  display: inline-block;
}

.margin {

  margin: auto;
  width: 80%;
  height: 80%;
}
