<div *ngIf="!bulkTickets" class="one" [ngStyle]="{'height': height+'vh'}" [style.transform]="'rotate('+rotation+'deg)'"
     #one>
    <div *ngFor="let row of rowArr; let a = index" style="line-height: 0vh;">
        <span *ngFor="let seats of seatArr; let b = index" class="dot"
              style="position: relative;"
              [ngStyle]="{'top': a*topSpacing+'px', 'left': (0.5+b)*sideSpacing+'px', 'width' : space+'px', 'height' : space+'px'}"
              [style.backgroundColor]="getColor(getState(a,b))">
        </span>
    </div>
</div>
<div class="center" [ngStyle]="{'height': height+'vh'}" *ngIf="bulkTickets && tickets.length > 0" (click)="reserveBulk()">
    <a class="verticalCenter">{{selectType(tickets[0].type)}} <br> {{tickets.length}}/{{tickets[0].amount}}</a>
</div>
<div class="center" *ngIf="tickets.length == 0" >
    <a class="verticalCenter">Ausverkauft</a>
</div>
<!--"-->
