<div class="container" *ngIf="ticket.type !== undefined">
    <div class="row">
        <div class="col-sm">
            <p>{{ticket.type}}</p>
        </div>
        <div class="col-sm">
            <p>Preis: {{ticket.price}}€</p>
        </div>
        <div class="col-sm">
            <button *ngIf="!isCart" (click)="reserve()" class="button">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Sektor: {{ticket.place}}</p>
        </div>
    </div>
</div>
