<div class="container" *ngIf="ticket.ticketType !== undefined">
    <div class="row">
        <div class="col-sm">
            <p>{{ticket.ticketType}}</p>
        </div>
        <div class="col-sm">
            <p>{{ticket.price}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>{{ticket.place}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button (click)="remove()" [disabled]="count == 0" class="button">-</button> <p class="button"> {{count}} </p> <button (click)="reserve()" class="button">+</button>
        </div>
    </div>
</div>
