<div class="container" *ngIf="ticket.ticketType !== undefined">
    <div class="row">
        <div class="col-sm">
            <p>{{ticket.ticketType}}</p>
        </div>
        <div class="col-sm">
            <p>{{ticket.price}}</p>
        </div>
        <div class="col-sm">
            <button *ngIf="!isCart" (click)="reserve()" class="button">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>{{ticket.place}}</p>
        </div>
    </div>
</div>
