.ticket {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 40vh;
  border-style: solid;
  border-width: 1px;
}

.size {
  height: 50vh;
}

.scrolling {
  overflow: scroll;
  overflow-x: hidden;
}

.modal-backdrop {
  background-color: white;
  height: 80vh;
  width: 80vw;
  opacity: 1;
  position: fixed;
  left: 10vh;
  top: 10vh;
}
