<div>
    <h2 id="page-heading">
        <span jhiTranslate="ticketingProjectApp.tickets.home.title">Tickets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tickets" [routerLink]="['/tickets/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ticketingProjectApp.tickets.home.createLabel">
            Create a new Tickets
            </span>
        </button>
        <button class="btn btn-danger float-right jh-create-entity create-tickets" style="margin-right: 1vw" (click)="resetTickets()">
            Tickets zurücksetzen
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tickets?.length === 0">
        <span jhiTranslate="ticketingProjectApp.tickets.home.notFound">No tickets found</span>
    </div>
    <div class="table-responsive" *ngIf="tickets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.price">Price</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.place">Place</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.type">Type</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.amount">Amount</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.rows">Rows</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.seats">Seats</span></th>
            <th><span jhiTranslate="ticketingProjectApp.tickets.state">State</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tickets of tickets ;trackBy: trackId">
                <td><a [routerLink]="['/tickets', tickets.id, 'view' ]">{{tickets.id}}</a></td>
                <td>{{tickets.price}}</td>
                <td>{{tickets.place}}</td>
                <td>{{tickets.type}}</td>
                <td>{{tickets.amount}}</td>
                <td>{{tickets.sectorRows}}</td>
                <td>{{tickets.seats}}</td>
                <td>{{tickets.state}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tickets', tickets.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tickets', tickets.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tickets', { outlets: { popup: tickets.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
