.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-color: lightgray;
  background-size: contain;
}

.widthOfCart {
  width: 30%;
}

.ticket {
  background: #ECECEC;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 70%;
  border-style: solid;
  border-width: 1px;
}

.split_left {
  height: 80%;
  width: 50%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.split_right {
  height: 80%;
  width: 50%;
  left: 10%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
