.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-color: lightgray;
  background-size: contain;
}

.ticket {
  background: #e4e5e6;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
