<div class="container" *ngIf="ticket.type !== undefined">
    <div class="row">
        <div class="split_left">
            <p class="font">Kategorie: {{selectType(ticket.type)}}</p>
        </div>
        <div *ngIf="!isCart" class="split_right">
            <button  [disabled]="isReserved" (click)="reserve()" class="button btn btn-success">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p class="font">Preis: {{ticket.price}}€</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="font">Sektor: {{ticket.place}}</span>
            <span class="font" *ngIf="ticket.sectorRows > 0"> &nbsp;&nbsp; Reihe: {{ticket.sectorRows}} &nbsp;&nbsp;   Sitzplatz: {{ticket.seats}}</span> <p></p>
        </div>
    </div>
</div>
