.middle {
  background: lightblue;
  border-style: solid;
  border-radius: 8vh;
  width: 60vh;
  height: 40vh;
}

.resize {
  transform: scale(0.8);
}

.middleTopBottom {
  background: lightgrey;
  width: 60vh;
  height: 20vh;
  border-style: solid;
}

.leftBottomCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.rightBottomCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.leftTopCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.rightTopCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.rotated {
  transform: rotate(180deg);
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.leftAndRight {
  background: lightgrey;
  width: 20vh;
  height: 40vh;
  border-style: solid;
}

.modal-content {
  background: white;
  width: auto;
  //left: -13vh;
  //top: 20vh;
  transform: scale(1.25);
}

.modal-body {
}

.split_left {
  height: 100%;
  width: 80%;
  position: fixed;
  left: -50px;
  top: -20px;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split_right {
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  float: right;
  margin-right: 100px;
}
