<div class="container">
    <div class="row">
        <div class="padding-0">
            <div class="leftTopCorner"> </div>
        </div>
        <div class="padding-0">
            <div class="middleTopBottom"> </div>
        </div>
        <div class="padding-0">
            <div class="rightTopCorner"></div>
        </div>
    </div>
    <div class="row">
        <div class="padding-0">
            <div class="leftAndRight"> </div>
        </div>
        <div class="padding-0">
            <div class="middle"> </div>
        </div>
        <div class="padding-0">
            <div class="leftAndRight"> </div>
        </div>
    </div>
    <div class="row">
        <div class="padding-0">
            <div class="leftBottomCorner"> </div>
        </div>
        <div class="padding-0">
            <div class="middleTopBottom "> </div>
        </div>
        <div class="padding-0">
            <div class="rightBottomCorner"> </div>
        </div>
    </div>
</div>

