.middle {
  background: lightblue;
  border-style: solid;
  border-radius: 8vh;
  width: 60vh;
  height: 40vh;
}

.resize {
  transform: scale(0.8);
}

.middleTopBottom {
  background: lightgrey;
  width: 60vh;
  height: 20vh;
  border-style: solid;
}

.leftBottomCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.rightBottomCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.leftTopCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.rightTopCorner {
  background: lightgrey;
  width: 20vh;
  height: 20vh;
  border-style: solid;
}

.rotated {
  transform: rotate(180deg);
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.leftAndRight {
  background: lightgrey;
  width: 20vh;
  height: 40vh;
  border-style: solid;
}

.modal-backdrop {
  background-color: white;
  height: 80vh;
  width: 80vw;
  opacity: 1;
  position: fixed;
  left: 10vh;
  top: 10vh;
}

.split_left {
  height: 100%;
  width: 80%;
  position: fixed;
  left: -50px;
  top: -20px;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split_right {
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  float: right;
  margin-right: 100px;
}

.places {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.dot {
  height: 10px;
  width: 2%;
  border-radius: 50%;
  display: inline-block;
}
