.shopping {
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  background: #ECECEC;
  width: 30%;
  height: 80%;
}

.scrolling {
  overflow: auto;
  overflow-x: hidden;
  max-height: 75%;
  border-bottom-style: solid;
}


.priceTablet {
  font-weight: bold;
  font-size: 4vh;
  margin-top: 2%;
  margin-left: 1vw;
}
.price {
  font-weight: bold;
  font-size: x-large;
  margin-left: 1vw;
}

.ticket {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  max-height: 50%;
}
.button {
  display: inline-block;
  margin: 5px;
}

ul {
  text-align: right;
}

.fix {
  position: fixed;
}
